.container{
    text-align: center;
}
.footer{
    text-align: center;
    margin-top: 68%;
    background-color: #9e9e9e;
    color:white;
}
img{
    width: 20%
}
.title{
    display: flex;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
}
.addButton{
    margin-left: 58.6%;
    margin-bottom: 10%;
    border-style:solid;
    border-width: 2px;
    width: 40%;
}
.addProjet{
    text-decoration: none;
    color: black;
}
table{
    border-style:solid;
    border-color: black;
    border-width: 2px;
    border-collapse: collapse;

}
th{
    border-style:solid;
    background-color: #9e9e9e;
    border-width: 2px;
    border-color: black;
    color: white;
    
}
td{
    border-style: solid;
    background-color: #e6e6e6;
    border-width: 2px;

}
.retour{
    text-decoration: none;
    color: black;
}
.register{
    margin-top: 5%;
    margin-bottom: 5%;
}
@media (min-width: 425px){
    .img{
        width: 15%;
        
    }
    table{
        width:100%;
    }
    .title{
        margin-left: 40%;  
    }
    .addButton{
        width: 15%
        
    }
    .footer{
        margin-top: 20%;
    }
}